
li {
    list-style: none;
    width: 30%;
    padding: 20px;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
  }

  a {
    background: #34a853;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    border-radius: 20px;
  }
  